@model ProductDetailVM
<!DOCTYPE html>
<html lang="tr">

<head>
	<title>Zay Shop - Product Detail Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="/assets/img/apple-icon.png">
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/templatemo.css">
	<link rel="stylesheet" href="/assets/css/custom.css">

	<!-- Load fonts style after rendering the layout styles -->
	<link rel="stylesheet" href="/https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
	<link rel="stylesheet" href="/assets/css/fontawesome.min.css">

	<!-- Slick -->
	<link rel="stylesheet" type="text/css" href="/assets/css/slick.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css">
	<!--

	TemplateMo 559 Zay Shop

	https://templatemo.com/tm-559-zay-shop

	-->
</head>

<body>


	<!-- Modal -->
	<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="w-100 pt-1 mb-5 text-right">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="" method="get" class="modal-content modal-body border-0 p-0">
				<div class="input-group mb-2">
					<input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
					<button type="submit" class="input-group-text bg-success text-light">
						<i class="fa fa-fw fa-search text-white"></i>
					</button>
				</div>
			</form>
		</div>
	</div>



	<!-- Open Content -->
	<section class="bg-light">
		<div class="container pb-5">
			<div class="row">
				<div class="col-lg-5 mt-5">
					<div class="card mb-3">
						<img class="card-img img-fluid" src="@Model.Product.ProductPictures.FirstOrDefault().Picture" alt="Card image cap" id="product-detail">
					</div>
					<div class="row">
					
						<!--Start Carousel Wrapper-->
						<div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
							<!--Start Slides-->
							<div class="carousel-inner product-links-wap" role="listbox">

								<!--First slide-->
								<div class="carousel-item active">
									<div class="row">
										@foreach (var item in Model.Product.ProductPictures)
										{

											<div class="col-4">
												<a>
													<img class="card-img img-fluid" src="@item.Picture" alt="@item.Name">
												</a>
											</div>
										}
									</div>
								</div>
								<!--/.First slide-->

							</div>
							<!--End Slides-->
						</div>
						<!--End Carousel Wrapper-->
				
					</div>
				</div>
				<!-- col end -->
				<div class="col-lg-7 mt-5">
					<div class="card">
						<div class="card-body">
							<h1 class="h2">@Model.Product.Name</h1>
							<h4 class="p-stock" style="font-size: smaller">
								Stok Durumu:
								@if (Model.Product.Stock > 0)
								{
									<span style="color:green; font-size: smaller">Stokta Var</span>
								}
								else
								{
									<span style="color:red; font-size: smaller">Tükendi</span>
								}
							</h4>

							<h6>Ürün Fiyatı</h6>
							<p class="h3 py-2">@Model.Product.Price TL</p>



							<h6>Description:</h6>
							<p>@Model.Product.Description</p>


							<h6>Ürün Açıklaması</h6>
							<ul class="list-unstyled pb-3">
								<p>@Html.Raw(Model.Product.Detail)</p>

							</ul>

							<form action="" method="GET">
								<input type="hidden" name="product-title" value="Activewear">
								<div class="row">
									<div class="col-auto">
										<ul class="list-inline pb-3">
											<li class="list-inline-item">
												Size :
												<input type="hidden" name="product-size" id="product-size" value="S">
											</li>
											<li class="list-inline-item"><span class="btn btn-success btn-size">S</span></li>
											<li class="list-inline-item"><span class="btn btn-success btn-size">M</span></li>
											<li class="list-inline-item"><span class="btn btn-success btn-size">L</span></li>
											<li class="list-inline-item"><span class="btn btn-success btn-size">XL</span></li>
										</ul>
									</div>
									<div class="col-auto">
										<ul class="list-inline pb-3">
											<li class="list-inline-item text-right">
												Quantity
												<input type="hidden" class="inputQuantity" name="product-quanity" id="product-quanity" value="1">
											</li>
											<li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
											<li class="list-inline-item"><span class="badge bg-secondary SpanQuantity" id="var-value">1</span></li>
											<li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
										</ul>
									</div>
								</div>
								<div class="row pb-3">

									<div class="col d-grid">
										<button onclick="addCart(@Model.Product.ID, @Model.Product.Stock);" class="btn btn-success btn-lg" value="addtocard">Sepete Ekle</button>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Close Content -->
	<!-- Start Article -->
	<section class="py-5">
		<div class="container">
			<div class="row text-left p-2 pb-3">
				<h4>Bunlar da İlgini Çekebilir</h4>
			</div>

			<!--Start Carousel Wrapper-->
			
				<div class="row">
				@foreach (Product product in Model.RelatedProducts)
				{
					<partial name="_Product" model="@product" />
				}
				</div>
				

			


		</div>
	</section>
	<!-- End Article -->
	<!-- Start Script -->
	<script src="/assets/js/jquery-1.11.0.min.js"></script>
	<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/templatemo.js"></script>
	<script src="/assets/js/custom.js"></script>
	<!-- End Script -->
	<!-- Start Slider Script -->
	<script src="/assets/js/slick.min.js"></script>
	<script>
		$('#carousel-related-product').slick({
			infinite: true,
			arrows: false,
			slidesToShow: 4,
			slidesToScroll: 3,
			dots: true,
			responsive: [{
				breakpoint: 1024,
				settings: {
					slidesToShow: 3,
					slidesToScroll: 3
				}
			},
			{
				breakpoint: 600,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 3
				}
			},
			{
				breakpoint: 480,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 3
				}
			}
			]
		});
	</script>
	<!-- End Slider Script -->

</body>

</html>