@model Product

<div class="col-md-4">
	<div class="card mb-4 product-wap rounded-0">
		<div class="card rounded-0">
			@if (Model.ProductPictures.Any())
			{
				<img class="card-img rounded-0 img-fluid" src="@Model.ProductPictures.FirstOrDefault().Picture">
			}
			else
			{
				<img class="card-img rounded-0 img-fluid" src="/img/urunhazirlaniyor.jpg">
			}
			<div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
				<ul class="list-unstyled">
					<li><a class="btn btn-success text-white mt-2" asp-route-id="@Model.ID" asp-controller="Shop" asp-action="ProductDetail"asp-route-name="@GeneralTools.URLConvert(Model.Name)"><i class="far fa-eye"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="card-body text-center">
			<a class="h3 text-decoration-none">@Model.Name</a>
			<hr />
			<p class="text-center mb-0">@Model.Price TL</p>
		</div>
	</div>
</div>