
@model List<Cart>

<link rel="stylesheet" href="/shoppingcart/cart.css" />

<main class="page">
	<section class="shopping-cart dark">
		<div class="container">
			<div class="block-heading">
				<h2>Sepetim</h2>
				
			</div>
		@foreach (Cart cart in Model)
			{
				<div class="content">
					<div class="row">
						<div class="col-md-12 col-lg-8">
							<div class="items">
								<div class="product">
									<div class="row">
										<div class="col-md-3">
											<img class="img-fluid mx-auto d-block image" style="padding:10px;" src="@cart.Picture">
										</div>
										<div class="col-md-8">
											<div class="info">
												<div class="row">
													<div class="col-md-4 product-name">
														<div class="product-name">

															<div class="product-info">
																<div>@cart.Name <span class="value"></span></div>
															
															</div>
														</div>
													</div>
													<div class="col-md-3 quantity">
														<label for="quantity">Miktar:</label>
														<input id="quantity" type="number" value="@cart.Quantity" class="form-control quantity-input">
													</div>
													<div class="col-md-3 price">
														<label for="price">Fiyat</label>
														<span>@cart.Price TL</span>
													</div>

													<div class="col-md-2 cancel">
														<i class="fas fa-trash-alt"cursor="pointer"onclick="removeCart(@cart.ID)"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="summary">
								<h3>Sepetim</h3>
								<div class="summary-item"><span class="text">Subtotal</span><span class="price">@(cart.Price*cart.Quantity)TL</span></div>
								
								<div class="summary-item"><span class="text">Genel Toplam</span><span class="price">@Model.Sum(x=>x.Price*x.Quantity)</span></div>
								<a asp-controller="Card"asp-action="Complete" type="button" class="btn btn-primary btn-lg btn-block">Alışverişi Tamamla</a>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</section>
</main>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>